<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <title>CRUD Application</title>
  </head>
  <body>
    <!-- header -->
    <header id="header">
      <div class="container">
        <div class="text-center">
          <a href="#" class="nav-brand text-dark">User Management System</a>
        </div>
      </div>
    </header>
    <!-- / header -->
    <!--main-->
    <main id="site-main">
      <div class="container">
        <div class="box-nav d-flex-justify-between">
          <div class="filter">
            <a href="/"><i class="fas fa-angle-double-left"></i>All Users</a>
          </div>
        </div>
        <div class="form-title text-center">
          <h2 class="text-dark">New User</h2>
          <span class="text-light"
            >Use the below form to create an account</span
          >
        </div>
        <!--//////////////////////////// //Form -->

        <form action="/api/users" method="POST" id="add_user">
          <div class="new_user">
            <div class="form-group">
              <label for="name" class="text-light">Name</label>
              <input type="hidden" name="id" value="" />
              <input
                type="text"
                name="name"
                value=""
                placeholder="Mark Stoenis"
              />
            </div>
            <div class="form-group">
              <label for="Email" class="text-light">Email</label>
              <input
                type="text"
                name="email"
                value=""
                placeholder="example@gmail.com"
              />
            </div>
            <div class="form-group">
              <label for="gender" class="text-light">Gender</label>
              <div class="radio inline">
                <input type="radio" id="radio-2" name="gender" value="Male" />
                <label for="radio-2" class="radio-label">Male</label>
              </div>
              <div class="radio inline">
                <input type="radio" id="radio-3" name="gender" value="Female" />
                <label for="radio-3" class="radio-label">Female</label>
              </div>
            </div>

            <div class="form-group">
              <label for="gender" class="text-light">Status</label>
              <div class="radio inline">
                <input type="radio" id="radio-4" name="status" value="Active" />
                <label for="radio-4" class="radio-label">Active</label>
              </div>
              <div class="radio inline">
                <input
                  type="radio"
                  id="radio-5"
                  name="status"
                  value="Inactive"
                />
                <label for="radio-5" class="radio-label">Inactive</label>
              </div>
            </div>

            <div class="form-group">
              <button type="submit" class="btn text-dark update">Save</button>
            </div>
          </div>
        </form>
        <!--///////////////////////////// //Form -->
      </div>
    </main>
    <!--/main-->
  </body>
</html>
